src/main/xsd/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://www.example.org/Person"
	xmlns:tns="http://www.example.org/Person" elementFormDefault="qualified"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

	<xsd:element name="Person">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" />
			<xsd:attribute name="id" type="xsd:int" />
		</xsd:complexType>
	</xsd:element>

</xsd:schema>